SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SITE_URL=https://devmina.com
DB_NAME=portfolio_db
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
CONTACT_EMAIL=hello@devmina.com
DEFAULT_FROM_EMAIL=noreply@devmina.com
